*{
    background-color: #5CBB30;
    margin: 0;
    padding: 0;
}

h1{
    color: #2F332D;
    padding: 10px;
}

h2{
    color: #49663C;
    padding: 10px;
}
p{
    color: #323C2D;
    padding: 10px;
}